body {
	background-image: url(./videogame.jpg);
	
}

#myCanvas{
	
  /* background: rgb(200,100,50);*/
  background-image: url(./paisaje1.jpg);
  border: solid 8px black;
}

h1{
	color: yellow;
	font-style: bold;
	
}
h2{
	text-align:left;
	color: green;
	
	background-color:gray;
	border: solid 1px green;
	width: 100px;
	
}

div{
	text-align: center;

}